.sidebar a.sidebar-link {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 1.25rem;
    text-align: start;
    white-space: nowrap;
    background: transparent;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none;
}

.sidebar a.sidebar-link:hover {
    background-color: transparent;
    color: #ffeb80;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    width: 260px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('/space0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    color: white;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.logout-link {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 1.25rem;
    text-align: left;
    color: white;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
    transition: background-color 0.2s;
}

.logout-link i {
    margin-right: 0.5rem;
}

.logout-link:hover {
    background-color: transparent;
    color: #ffeb80;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.right-bg-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100vh;
    aspect-ratio: 2/3;
    background-image: url('/spaceright_nav.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
    z-index: -1;
    pointer-events: none;
    animation: float 6s ease-in-out infinite;
}

.sidebar .btn {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: normal;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar .btn:hover {
    background-color: transparent;
    color: #ffeb80;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

