#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.4;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(18, 18, 18, 0.6);
    z-index: -1;
}

body {
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-brand img {
    height: 60px;
}

.overlay-top-img {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: auto;
    max-width: 100%;
    height: auto;
    pointer-events: none;
}
